<form [formGroup] = "magazineForm" (ngSubmit)="submitForm()">
Full name:<br/>
<span style="color:red" [hidden]="magazineForm.controls.fullName.valid || magazineForm.controls.fullName.untouched">
  Please enter your name.<br/>
</span>
<input formControlName="fullName" type="text"/><br/>
Valid: {{magazineForm.controls.fullName.valid}}<br/>
Touched: {{magazineForm.controls.fullName.touched}}<br/>
Dirty: {{magazineForm.controls.fullName.dirty}}<br/>
Magazine edition:<br/>
<select formControlName="selectedEdition">
  <option *ngFor="let edition of editions" [ngValue]="edition">
    {{edition.editionName}}</option>
</select><br/>
Shipping option:
<input type="radio" formControlName="selectedShipping" value="GROUND"/>Ground
<input type="radio" formControlName="selectedShipping" value="AIR"/>Air
<br/>
<label><input formControlName="acceptPolicy" type="checkbox"/>
  I accept the terms and conditions</label><br/>
<br/>
Price: {{magazineForm.value.selectedEdition.price}}
<br/>
<button [disabled]="magazineForm.invalid || !magazineForm.value.acceptPolicy" type="submit">Purchase</button>
</form>
